<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Live chat</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="{% static 'js/indexValidation.js' %}"></script>
</head>

<body>
  <div class="join-room" id="find-room-block">

    <form method="post" action="" id="find-room">
      {% csrf_token %}

      <p class="input-name">user name:</p>
      <input class="my-input" name="user-name" id="user-name">

      <p class="input-name">room name:</p>
      <input class="my-input" name="room-name" id="room-name">

      <button class="my-button" type="submit">submit</button>
    </form>

  </div>
</body>

</html>