<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/room.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script id="data" type="application/json">{{room_name}}/{{user_name}}</script>
  <script src="{% static 'js/room/functions.js' %}"></script>
  <script src="{% static 'js/room/socket.js' %}"></script>
  <script src="{% static 'js/room/onload.js' %}"></script>
</head>

<body>
  <h1 class="title" id="room-name">{{room_name}}</h1>

  <div class="chat-field field" id="message-field">
    <!-- the block that if you see then more old messages appear -->
    <div id="load-old"></div>
  </div>

  <div class="field" id="send-message">

    <form id="message-form">
      <p class="input-name">message:</p>

      <textarea 
        name="message"
        id="message"
        class="my-input"
        oninput="autoResize(this)"
      ></textarea>

      <button class="my-button">Send</button>
    </form>
  </div>
</body>

</html>